/* 1. Directivas BASE, COMPONENTS y UTILITIES de Tailwind CSS. */
@import 'tailwindcss';

@theme {
  --color-forest-start: #1b4d3e;
  --color-forest-mid: #4b3621;
  --color-forest-end: #2c2016;
  --color-cafe-oscuro: #4b3621;
  --color-moca: #795548;
  --color-leche-crema: #f5f5dc;
  --color-pan-tostado: #eedcb3;
  --color-bosque-verde: #385635;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* 2. Regla global opcional para el desplazamiento suave. */
html {
  scroll-behavior: smooth;
}

/* 3. AÑADE LA CLASE CSS ESPECÍFICA AQUÍ */
/* Esta clase será controlada por el CustomCursor.js */
.cursor-none {
  cursor: none;
}

/* 4. Restaurar la regla del body para que no fuerce el 'cursor: none' en todas las páginas */
body {
}


/* 5. Ocultar la barra de desplazamiento horizontal, etc. */
::-webkit-scrollbar {
  height: 0px; /* Chrome, Safari, Opera */
  width: 0px; /* Firefox */
  
background: transparent;
}