Unidad-7/PystockManagement/src/__pycache__/__init__.cpython-310.pyc
Unidad-7/PystockManagement/src/models/__pycache__/productos.cpython-310.pyc
Unidad-7/PystockManagement/src/models/__pycache__/__init__.cpython-310.pyc
Unidad-7/PystockManagement/src/services/__pycache__/__init__.cpython-310.pyc
Unidad-7/PystockManagement/src/services/__pycache__/inventario_manager.cpython-310.pyc
